@page "/ground-truths"
@inject HttpClient Http
@inject GroundTruthState State

<h1>Ground Truths</h1>
<p>Enter the actual values applicable to your situation.</p>

@if (State == null) {
    <p><em>Loading...</em></p>
}
else {
<EditForm Model="State">
    <DataAnnotationsValidator />

    <h3>Person benefiting from the change</h3>
    <TimeValueEditForm TimeValues="State.ImpactedPerson" />

    <h3>Person developing the change</h3>
    <TimeValueEditForm TimeValues="State.Developer" />

    <p>Updated @($"{State.LastUpdate:hh:mm:ss}")</p>
</EditForm>
}

@code {
    protected override void OnInitialized() {
        State.OnChange += StateHasChanged;
    }

    public void Dispose() {
        State.OnChange -= StateHasChanged;
    }
}
