<p>
    This person works an average of @($"{TimeValues.DaysPerWeek:0.00}") days per week, resulting in @TimeValues.WorkableSeconds annual workable seconds.
    <button class="badge badge-light" @onclick="TimeValues.Reset" @onclick:preventDefault>Reset to Defaults</button>
</p>

<div class="table border-1">
    <div class="row">
        <div class="col-2 text-right"><label for="hours-per-year">Paid Hours per Year</label></div>
        <div class="col-1">
            <input @bind="TimeValues.HoursPerYear" class="form-control" id="hours-per-year" />
        </div>
        <div class="col">A normal full-time equivalent year is 2080 hours.</div>
    </div>

    <div class="row">
        <div class="col-2 text-right"><label for="hours-per-day">Work Hours per Day</label></div>
        <div class="col-1">
            <input @bind="TimeValues.HoursPerDay" class="form-control" id="hours-per-day" />
        </div>
        <div class="col">An average work day is 8 hours.</div>
    </div>

    <div class="row">
        <div class="col-2 text-right"><label for="break-minutes-per-day">Break Minutes per Day</label></div>
        <div class="col-1">
            <input @bind="TimeValues.BreakMinutesPerDay" class="form-control" id="break-minutes-per-day" />
        </div>
        <div class="col">Only factor in breaks where work stops. Consider lunch, mandatory hourly breaks, smoke breaks, etc.</div>
    </div>

    <div class="row">
        <div class="col-2 text-right"><label for="time-off-hours-per-year">Time-Off Hours per Year</label></div>
        <div class="col-1">
            <input @bind="TimeValues.TimeOffHoursPerYear" class="form-control" id="time-off-hours-per-year" />
        </div>
        <div class="col">Consider sick time, vacation, and holidays.</div>
    </div>
</div>

@code {
    [Parameter]
    public Data.TimeValues TimeValues { get; set; }
}
