<table id="worth-table">
    <tr>
        <td colspan="2"></td>
        <td id="top-header" colspan="6">Frequency of Inefficiency</td>
    </tr>
    <tr>
        <td colspan="2"></td>
        <td class="col-title">50/day</td>
        <td class="col-title">5/day</td>
        <td class="col-title">Daily</td>
        <td class="col-title">Weekly</td>
        <td class="col-title">Monthly</td>
        <td class="col-title">Annually</td>
    </tr>
    <tr>
        <td id="left-header" rowspan="10"><p>Potential Time Saved per Occurrence</p></td>
        <td class="row-title">1 sec</td>
        <td class="value-cell"><CalculatedValue TimeSaved="Interval.OneSecond" Frequency="50f" /></td>
        <td class="value-cell"><CalculatedValue TimeSaved="Interval.OneSecond" Frequency="5f" /></td>
        <td class="value-cell"><CalculatedValue TimeSaved="Interval.OneSecond" Frequency="1f" /></td>
        <td class="value-cell"><CalculatedValue TimeSaved="Interval.OneSecond" Frequency="0.14285714f" /></td>
        <td class="value-cell"><CalculatedValue TimeSaved="Interval.OneSecond" Frequency="0.03287671f" /></td>
        <td class="value-cell"><CalculatedValue TimeSaved="Interval.OneSecond" Frequency="0.00273972f" /></td>
    </tr>
    <tr>
        <td class="row-title">5 sec</td>
        <td class="value-cell"><CalculatedValue TimeSaved="Interval.FiveSeconds" Frequency="50f" /></td>
        <td class="value-cell"><CalculatedValue TimeSaved="Interval.FiveSeconds" Frequency="5f" /></td>
        <td class="value-cell"><CalculatedValue TimeSaved="Interval.FiveSeconds" Frequency="1f" /></td>
        <td class="value-cell"><CalculatedValue TimeSaved="Interval.FiveSeconds" Frequency="0.14285714f" /></td>
        <td class="value-cell"><CalculatedValue TimeSaved="Interval.FiveSeconds" Frequency="0.03287671f" /></td>
        <td class="value-cell"><CalculatedValue TimeSaved="Interval.FiveSeconds" Frequency="0.00273972f" /></td>
    </tr>
    <tr>
        <td class="row-title">½ min</td>
        <td class="value-cell"><CalculatedValue TimeSaved="Interval.HalfMinute" Frequency="50f" /></td>
        <td class="value-cell"><CalculatedValue TimeSaved="Interval.HalfMinute" Frequency="5f" /></td>
        <td class="value-cell"><CalculatedValue TimeSaved="Interval.HalfMinute" Frequency="1f" /></td>
        <td class="value-cell"><CalculatedValue TimeSaved="Interval.HalfMinute" Frequency="0.14285714f" /></td>
        <td class="value-cell"><CalculatedValue TimeSaved="Interval.HalfMinute" Frequency="0.03287671f" /></td>
        <td class="value-cell"><CalculatedValue TimeSaved="Interval.HalfMinute" Frequency="0.00273972f" /></td>
    </tr>
    <tr>
        <td class="row-title">1 min</td>
        <td class="value-cell"><CalculatedValue TimeSaved="Interval.OneMinute" Frequency="50f" /></td>
        <td class="value-cell"><CalculatedValue TimeSaved="Interval.OneMinute" Frequency="5f" /></td>
        <td class="value-cell"><CalculatedValue TimeSaved="Interval.OneMinute" Frequency="1f" /></td>
        <td class="value-cell"><CalculatedValue TimeSaved="Interval.OneMinute" Frequency="0.14285714f" /></td>
        <td class="value-cell"><CalculatedValue TimeSaved="Interval.OneMinute" Frequency="0.03287671f" /></td>
        <td class="value-cell"><CalculatedValue TimeSaved="Interval.OneMinute" Frequency="0.00273972f" /></td>
    </tr>
    <tr>
        <td class="row-title">½ hour</td>
        <td class="value-cell"><CalculatedValue TimeSaved="Interval.HalfHour" Frequency="50f" /></td>
        <td class="value-cell"><CalculatedValue TimeSaved="Interval.HalfHour" Frequency="5f" /></td>
        <td class="value-cell"><CalculatedValue TimeSaved="Interval.HalfHour" Frequency="1f" /></td>
        <td class="value-cell"><CalculatedValue TimeSaved="Interval.HalfHour" Frequency="0.14285714f" /></td>
        <td class="value-cell"><CalculatedValue TimeSaved="Interval.HalfHour" Frequency="0.03287671f" /></td>
        <td class="value-cell"><CalculatedValue TimeSaved="Interval.HalfHour" Frequency="0.00273972f" /></td>
    </tr>
    <tr>
        <td class="row-title">1 hour</td>
        <td class="value-cell"><CalculatedValue TimeSaved="Interval.OneHour" Frequency="50f" /></td>
        <td class="value-cell"><CalculatedValue TimeSaved="Interval.OneHour" Frequency="5f" /></td>
        <td class="value-cell"><CalculatedValue TimeSaved="Interval.OneHour" Frequency="1f" /></td>
        <td class="value-cell"><CalculatedValue TimeSaved="Interval.OneHour" Frequency="0.14285714f" /></td>
        <td class="value-cell"><CalculatedValue TimeSaved="Interval.OneHour" Frequency="0.03287671f" /></td>
        <td class="value-cell"><CalculatedValue TimeSaved="Interval.OneHour" Frequency="0.00273972f" /></td>
    </tr>
    <tr>
        <td class="row-title">½ day</td>
        <td class="value-cell"><CalculatedValue TimeSaved="Interval.HalfDay" Frequency="50f" /></td>
        <td class="value-cell"><CalculatedValue TimeSaved="Interval.HalfDay" Frequency="5f" /></td>
        <td class="value-cell"><CalculatedValue TimeSaved="Interval.HalfDay" Frequency="1f" /></td>
        <td class="value-cell"><CalculatedValue TimeSaved="Interval.HalfDay" Frequency="0.14285714f" /></td>
        <td class="value-cell"><CalculatedValue TimeSaved="Interval.HalfDay" Frequency="0.03287671f" /></td>
        <td class="value-cell"><CalculatedValue TimeSaved="Interval.HalfDay" Frequency="0.00273972f" /></td>
    </tr>
    <tr>
        <td class="row-title">1 day</td>
        <td class="value-cell"><CalculatedValue TimeSaved="Interval.OneDay" Frequency="50f" /></td>
        <td class="value-cell"><CalculatedValue TimeSaved="Interval.OneDay" Frequency="5f" /></td>
        <td class="value-cell"><CalculatedValue TimeSaved="Interval.OneDay" Frequency="1f" /></td>
        <td class="value-cell"><CalculatedValue TimeSaved="Interval.OneDay" Frequency="0.14285714f" /></td>
        <td class="value-cell"><CalculatedValue TimeSaved="Interval.OneDay" Frequency="0.03287671f" /></td>
        <td class="value-cell"><CalculatedValue TimeSaved="Interval.OneDay" Frequency="0.00273972f" /></td>
    </tr>
    <tr>
        <td class="row-title">½ week</td>
        <td class="value-cell"><CalculatedValue TimeSaved="Interval.HalfWeek" Frequency="50f" /></td>
        <td class="value-cell"><CalculatedValue TimeSaved="Interval.HalfWeek" Frequency="5f" /></td>
        <td class="value-cell"><CalculatedValue TimeSaved="Interval.HalfWeek" Frequency="1f" /></td>
        <td class="value-cell"><CalculatedValue TimeSaved="Interval.HalfWeek" Frequency="0.14285714f" /></td>
        <td class="value-cell"><CalculatedValue TimeSaved="Interval.HalfWeek" Frequency="0.03287671f" /></td>
        <td class="value-cell"><CalculatedValue TimeSaved="Interval.HalfWeek" Frequency="0.00273972f" /></td>
    </tr>
    <tr>
        <td class="row-title">1 week</td>
        <td class="value-cell"><CalculatedValue TimeSaved="Interval.OneWeek" Frequency="50f" /></td>
        <td class="value-cell"><CalculatedValue TimeSaved="Interval.OneWeek" Frequency="5f" /></td>
        <td class="value-cell"><CalculatedValue TimeSaved="Interval.OneWeek" Frequency="1f" /></td>
        <td class="value-cell"><CalculatedValue TimeSaved="Interval.OneWeek" Frequency="0.14285714f" /></td>
        <td class="value-cell"><CalculatedValue TimeSaved="Interval.OneWeek" Frequency="0.03287671f" /></td>
        <td class="value-cell"><CalculatedValue TimeSaved="Interval.OneWeek" Frequency="0.00273972f" /></td>
    </tr>
</table>

@code {

}
