@page "/"

<h1>Is it worth my time?</h1>

<p>The concept is simple: given a known problem domain and a valid estimate to produce a solution, should I spend my time generating a solution to the problem?</p>