@page "/"

<h1>Is it worth my time?</h1>

<p>The concept is simple: given a known problem domain and a valid estimate to produce a solution, should I spend my time generating a solution to the problem?</p>
<p>This project is inspired by an <a target="_blank" href="https://xkcd.com/1205/">XKCD comic</a>.</p>